@model Autyan.NiChiJou.IdentityServer.Models.Auth.SignInRedirectViewModel

<!DOCTYPE html>

<html>
<head>
    <title>LoginEnding</title>
</head>
<body>
    <div>
        <input type="hidden" asp-for="TargetUrl" />
    </div>
    <script type="text/javascript" asp-append-version="true">
        window.location.replace(document.getElementById('TargetUrl'));
    </script>
</body>
</html>