<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="aspnet-contrib.myget" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="aspnetcore-dev.myget" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
  </packageSources>
</configuration>