@using Autyan.NiChiJou.Model.Blog
@model BlogUser
@{
    ViewData["Title"] = "Default";
}

<div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
        <div class="input-group">
            <label>NickName:</label>
            @Html.DisplayFor(m => m.NickName)
        </div>
    </div>
</div>

