@using Autyan.NiChiJou.Core.Data
@using Autyan.NiChiJou.Model.Blog
@model PagedResult<Article>
@{
    ViewData["Title"] = "Default";
}

<div class="panel panel-default">
    <div class="panel-body">
        
    </div>
</div>

